@use "variables" as v;
@use "helpers/media" as *;

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  transition: all 0.2s ease;
  font-family: 'Montserrat-Bold', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  background-color: v.$light-background;
  border-radius: 8px;
  box-shadow: 0 0 10px v.$shadow-color;

  @include mobile {
    padding: 1rem;
    border-radius: 0;
  }
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;

  @include mobile {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

p {
  margin-bottom: 2rem;
}

label, p, input[type=text], .link, li {
  font-family: 'Montserrat-Medium', sans-serif;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  color: v.$text-color;
  background-color: v.$primary-color;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;

  &:hover {
    background-color: v.$primary-color-darker;
  }

  &-logout {
    display: inline-block;
    justify-content: center;
    width: auto;
    max-width: 20%; /* На ПК — не более 20% */
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: v.$orange;

    &:hover {
      background-color: v.$orange-darker;
    }
  }

  &-delete {
    width: auto;
    max-width: 20%; /* На ПК — не более 20% */
    display: inline-block;
    background-color: v.$red;
    padding: 0.5rem 1rem;
    margin: 0px;

    &:hover {
      background-color: v.$red-darker;
    }
  }

  @include mobile {
    &-logout,
    &-delete {
      max-width: 100%; /* На мобильных — полная ширина */
      width: 100%; /* Растягиваем на всю ширину */
      margin-bottom: 0.5rem; /* Уменьшаем отступ */
    }
  }
}

.link {
  text-decoration: none;
  color: v.$link-color;
  font-size: 1rem;

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}